* {
    margin: 0;
    padding: 0;
}

#wrap{
    width: 1000px;
    margin: 50px auto;
}
h1 {
    text-align: center;
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid rgb(140, 137, 169);
    padding: 15px;
    font-size: 20px;
}

th {
    background: rgb(151, 157, 242);
    color: #fff;
}

th:first-of-type {
    width: 20%;
}