* {
    margin: 0;
    padding: 0;
}
#wrap { 
    display: grid;
    width: 60%;
    border: 10px solid #eee;
    margin: 20px auto;
    padding: 30px;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: 200px 200px 300px 150px;
    grid-template-areas: 
    "box1 box1"
    "box2 box2"
    "box3 box4"
    "box5 box5"
    ;
    grid-gap: 20px;
}
header {
    background: rgb(173, 165, 242);
    position: relative;
    grid-area: box1;
}
nav {
    width: 70%;
    height: 140px;
    background: rgb(48, 45, 82);
    position: absolute;
    top: 30px;
    left: 30px
}
main {
    background: rgb(153, 183, 233);
    grid-area: box2;
}
section {
    background: rgb(140, 216, 235);
    grid-area: box3;
}
article {
    background: rgb(152, 224, 173);
    grid-area: box4;
}

footer {
    background: rgb(209, 237, 170);
    grid-area: box5;
}

